[submodule "lib/breakpad"]
	path = lib/breakpad
	url = https://github.com/google/breakpad.git
[submodule "lib/fmt"]
	path = lib/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "lib/dobby"]
	path = lib/dobby
	url = https://github.com/jmpews/Dobby.git
